.header {
  padding: calc(90px - var(--defaultTextSize));
  text-align: center;
  background: var(--primaryColor);
  color: var(--textPrimary);
  font-size: var(--defaultTextSize);
}

.content {
  padding: 20px
}