<div class="header">
  <h1>Creando App Multi Theme</h1>
  <p>Creado por Anartz Mugika Ledo</p>
  <p>
    <span>Seleccionar theme: </span>
    <button (click)="changeTheme('default')">Default</button>&nbsp;&nbsp;
    <button (click)="changeTheme('dark')">Dark</button>
  </p>
</div>
<div class="content">
  <h3>Sígueme en:</h3>
  <ul>
    <li>
      <a href="https://twitter.com/mugan86" target="_blank">
        Twitter
      </a>
    </li>
    <li>
      <a href="https://youtube.com/mugan86" target="_blank">
        Youtube
      </a>
    </li>
  </ul>
  
</div>